#heading1{
	text-align: center;


}

#cube{
	height: 100px;
	width: 100px;
	margin-left: 513px

}

#hiscore{
	text-align: center;
	color: green;


}

body{


	background-color: blue;
}

#score{
	text-align: center;


}

